<div class="row">
  
  <div class="col-9">
    <h1> Current or Upcoming Games Scheduled </h1>
  </div>

  <div class="col-3" >
    <div class="my-3">
      <%= link_to "Add a New Game", "/games/new", class: 'btn btn-primary' %>
    </div>
  </div>

</div>

<div class="row">

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Location</th>
        <th>Name</th>
        <th>Participants</th>
        <th>Distance</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      
      <th> Getting new games</th>
    </tbody>
  </table>
</div>
