<div class="row">
  
  <div class="col-9">
    <h1> Home Page Ball is Life</h1>
  </div>

</div>

<div class="row">
	<div class="col-6">
		<p> Ball is Life is a web application that allows users to create, find, and join pick-up basketball games
in their community. Users will have the functionality to search for current and upcoming basketball
games in their community based on location preferences and invite friends via FB or Twitter to join a game. </p>

		<p> If there are no games that match a user's preferences, they will be allowed to schedule an upcoming game 
that the community will be notified of and can join. Each user will maintain a profile that records past games played, friends, basketball skill level and other characteristics to help facilitate social networking between different players. </p>

		<p> With this functionality, Ball Is Life hopes to facilitate the process of playing pick-up basketball games and
			establish a thriving pick-up basketball community. </p>


		<a class="button" href="/games">View Games in the Community</a>

		<a class="button" href="/users">Sign Up for a Profile!</a>

	</div>
	<% basketball= 'http://www.mcleodisd.net/sites/mcleodisd.net/files/styles/panopoly_image_half/public/clipart-basketball-kids-little-kids-playing-basketball-clipart-e9ybfs-clipart.png?itok=gA16ZfY-' %>

	<div class="col-6 text-center">
		<%= image_tag basketball, class: 'img-fluid' %>
	</div>

</div>