<h1>Schedule a New Basketball Game for People to Join!</h1>

<div class="row">
  <div class="col-sm-4">

    <%= form_tag "/games" do %>

      <p>Name of Game: <input name="name" type="text" autofocus class="form-control"></p>

      <% venue_hash = {} %>
      <% Venue.all.each do |venue| %>
          <% venue_hash.store(venue.name, venue.id) %>
      <% end %>
      
      <p>Select Venue: <%= select_tag("location", options_for_select(venue_hash)) do %>
      <% end %> </p>

  

      <p> What is the max amount of players you want for this game?<input name="max_players" type="text" value="10" autofocus class="form-control"></p>
      <p> Enter Game Start Date and Time in Proper Format<input name="start_time" type="text" value="02/25/2018 12:30pm" autofocus class="form-control"> </p> 

      <button class="btn btn-primary">Add New Game</button>
    <% end %>


  </div>
</div>
